{% extends "layout.html" %}

{% block title %}SSO Administration{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12">
        <h1>Set up your identity provider</h1>
        <p>Configure your identity provider to allow your users access to Autodesk products using your company credentials. Once the configuration is set up , you can manage the accounts associated to your company domain name(s).</p>
    </div>
</div>
<div class="notification">Your domain autodesk.sg has successfully set up!</div>
<div class="warning">We couldn't save your setup this time. Please try again</div>
<div class="row">
    <div class="col-xs-12 panels-wrapper">
        <div class="panel-group" id="domain-list" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default expand">
                <div class="panel-heading" role="tab">
                    <div class="panel-title">
                        <div>
                            <div>autodesk.sg</div>
                            <div class="status">Enabled</div>
                        </div>
                        <button role="button" data-toggle="collapse" data-parent="#domain-list" href="#domain-list-1" aria-expanded="true" class="btn btn-primary toggle-panel expand-button">
                            CONFIGURE
                        </button>
                        <a role="button" data-toggle="collapse" data-parent="#domain-list" href="#domain-list-1" aria-expanded="true" class="toggle-panel close-button"></a>

                    </div>
                </div>
                <div id="domain-list-1" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <p>Setting Up Connection</p>
                        <form action="">
                            <div class="panel-group" id="connection-list" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default expand">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title toggle-panel" role="button" data-toggle="collapse" data-parent="#connection-list" href="#connection-list-1" aria-expanded="true">
                                            <div class="steps">
                                                <div class="step-circle">
                                                    <span>1</span>
                                                </div>
                                            </div>
                                            <h3 class="activated header-1">Set up your identity provider<br>
                                                <div class="show-when-expand">Download the configuration metadata and upload it to identity provider.</div>
                                            </h3>
                                            <i class="expand-button" aria-hidden="true"></i>
                                            <span class="close-button"></span>
                                        </a>
                                    </div>
                                    <div id="connection-list-1" class="panel-collapse collapse in" role="tabpanel">
                                        <div class="panel-body">
                                            <button class="btn download-btn">
                                                <i class="glyphicon glyphicon-download-alt"></i>Download</button>
                                            <button class="btn btn-primary next-btn" data-parent="#connection-list" href="#connection-list-2" data-toggle="collapse">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title toggle-panel not-active" role="button" data-toggle="collapse" data-parent="#connection-list" href="#connection-list-2" aria-expanded="true">
                                            <div class="steps">
                                                <div class="step-circle">
                                                    <span>2</span>
                                                </div>
                                            </div>
                                            <h3 class="header-2">Configure your connection<br>
                                                <div class="show-when-expand">Assign identity provider connection information to the SAML parameters</div>
                                            </h3>
                                            <i class="expand-button" aria-hidden="true"></i>
                                            <span class="close-button"></span>
                                        </a>
                                    </div>
                                    <div id="connection-list-2" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">

                                          <div class="form-group">
                                              <label for="idp-ID" class="pull-left">IDP Entity ID</label>
                                              <div class="steps" data-toggle="tooltip" title="Some tooltip text!">
                                                  <div class="step-circle">
                                                      <span>?</span>
                                                  </div>
                                              </div>
                                              <input type="text" class="form-control" id="#idp-ID" placeholder="e.g. mydomain-idp-id">
                                              <div class="error-msg">Invalid URL format</div>
                                          </div>

                                            <div class="form-group">
                                                <label for="signin-url" class="pull-left">Sign in URL</label>
                                                <div class="steps" data-toggle="tooltip" title="Some tooltip text!">
                                                    <div class="step-circle">
                                                        <span>?</span>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="#signin-url" placeholder="e.g. https://yourcompany.com/login">
                                                <div class="error-msg">Invalid URL format</div>
                                            </div>

                                            <div class="form-group">
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="rb_signin-url" checked>REDIRECT</label>
                                                    <label class="radio-inline"><input type="radio" name="rb_signin-url">POST</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="signout-url" class="pull-left">Sign out URL</label>
                                                <div class="steps" data-toggle="tooltip" title="Some tooltip text!">
                                                    <div class="step-circle">
                                                        <span>?</span>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="#signout-url" placeholder="e.g. https://yourcompany.com/login">
                                                <div class="error-msg">Invalid URL format</div>
                                            </div>
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="rb_signout-url" checked>REDIRECT</label>
                                                    <label class="radio-inline"><input type="radio" name="rb_signout-url">POST</label>
                                                </div>
                                            </div>
                                            <div class="form-group has-error">
                                                <label class="pull-left">Primary verification certificate?</label>
                                                <div class="steps" data-toggle="tooltip" title="Some tooltip text!">
                                                    <div class="step-circle">
                                                        <span>?</span>
                                                    </div>
                                                </div>
                                                <div class="file-upload">
                                                    <input type="file" accept=".cert" title="Choose File">
                                                    <span class="placeholder">Only accept .cert file</span>
                                                </div>
                                                <div class="error-msg">File is missing</div>
                                                <button class="btn btn-primary next-btn" data-parent="#connection-list" href="#connection-list-3" data-toggle="collapse">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title toggle-panel not-active" role="button" data-toggle="collapse" data-parent="#connection-list" href="#connection-list-3" aria-expanded="true">
                                            <div class="steps">
                                                <div class="step-circle">
                                                    <span>3</span>
                                                </div>
                                            </div>
                                            <h3 class="header-3">Test connection<br>
                                                <div class="show-when-expand">Review your changes and test connection.</div>
                                            </h3>
                                            <i class="expand-button" aria-hidden="true"></i>
                                            <span class="close-button"></span>
                                        </a>
                                    </div>
                                    <div id="connection-list-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class="url-display">
                                                <span>Sign in URL</span>
                                                <span class="url-type">POST</span>
                                                <div>https://yourcompany.com/login</div>
                                            </div>
                                            <div class="url-display">
                                                <span>Sign in URL</span>
                                                <span class="url-type">REDIRECT</span>
                                                <div>https://yourcompany.com/login</div>
                                            </div>
                                            <div class="url-display">
                                                <span>Primary verification certificate</span>
                                                <div>Issued by: Verizon Akamai SureServer CA G14-SHA2</div>
                                            </div>
                                            <button class="btn inverse-btn">Test Connection</button>
                                            <button class="btn btn-primary done-btn" data-parent="#connection-list" href="#connection-list-3" data-toggle="collapse">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="connection not-active">
                                <h3>Connection Options</h3>
                                <div class="checkbox-wrapper">
                                    <span>Force all users of this domain to use company credentials</span>
                                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkbox-wrapper">
                                    <span>Force all users of this domain to use company credentials</span>
                                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <div class="panel-title">
                        <div>
                            <div>autodesk.com</div>
                            <div class="status">Awaiting setup, click configure to start</div>
                        </div>
                        <button role="button" data-toggle="collapse" data-parent="#domain-list" href="#domain-list-2" aria-expanded="false" class="btn btn-primary toggle-panel expand-button">
                            CONFIGURE</button>
                        <a role="button" data-toggle="collapse" data-parent="#domain-list" href="#domain-list-2" aria-expanded="false" class="toggle-panel close-button"></a>

                    </div>
                </div>
                <div id="domain-list-2" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <form action="">
                            test
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
